mE-ngadu-master/web/WEB-INF/wsdl/localhost_8080/mengaduWS/mengaduWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.com/">

<xs:element name="comStatus" type="tns:comStatus"/>

<xs:element name="comStatusResponse" type="tns:comStatusResponse"/>

<xs:element name="inComplaint" type="tns:inComplaint"/>

<xs:element name="inComplaintResponse" type="tns:inComplaintResponse"/>

<xs:element name="inMatric" type="tns:inMatric"/>

<xs:element name="stCourse" type="tns:stCourse"/>

<xs:element name="stCourseResponse" type="tns:stCourseResponse"/>

<xs:element name="stYear" type="tns:stYear"/>

<xs:element name="stYearResponse" type="tns:stYearResponse"/>

<xs:element name="studentName" type="tns:studentName"/>

<xs:complexType name="comStatus">
<xs:sequence>
<xs:element name="stat" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentName">
<xs:sequence>
<xs:element name="inName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stYear">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stYearResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inComplaint">
<xs:sequence>
<xs:element name="complaint" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inComplaintResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inMatric">
<xs:sequence>
<xs:element name="matric" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stCourse">
<xs:sequence>
<xs:element name="inCourse" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>